@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

.l- {
  &main {
    scroll-snap-type: y mandatory;
  }
  &section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    &Groom {
      .c-textAnimation {
        text {
          fill: #e6b422;
        }
      }
    }
    &Bride {
      .c-textAnimation {
        text {
          fill: #e3a1a1;
        }
      }
    }
    &History {
      .swiper-wrapper {
        width: 300px;
        transition-timing-function: linear;
      }
    }
  }
}

.c- {
  &video {
    &01 {
      width: 1700px;
      height: 800px;
      object-fit: cover;
    }
  }
  &text {
    &Animation {
      transform: scale(1.4);
      width: 100px;
      height: 100px;
      margin: 100px auto;
      font-size: 12px;
      svg {
        overflow: visible;
      }
      path {
        fill: none;
      }
    }
  }
}